addict==2.4.0
ConfigArgParse==1.7
dash==3.0.4
Flask==3.0.3
gtsam==4.2
matplotlib==3.10.1
mplcursors==0.6
natsort==8.4.0
networkx==3.4.2
numpy==1.26.4
open3d==0.19.0
opencv-python==4.11.0.86
pandas==2.2.3
pygame==2.6.1
pyglet==2.1.6
pyquaternion==0.9.9
pynput==1.8.1
PyYAML==6.0.2
requests==2.32.3
scikit-learn==1.6.1
scipy==1.15.2
shapely==2.1.0
tqdm==4.67.1
plotly==6.0.1
joblib==1.4.2
typing_extensions==4.13.2
